<!DOCTYPE html>
<html ng-app="ShoppingListDirectiveApp">
<head>
	<title>Directive Isolate Scope</title>
	<script src="angular.js"></script>
	<script src="lect28.js"></script>
</head>
<body>
<h1>Directive With Isolate Scope </h1>
<!-- <div ng-controller="Demo">{{name}} </div> -->

<!-- LIST #1 unlimited items -->

<div id="list1" ng-controller="ShoppingListController1 as list1">

<!-- <h2>Shopping List #1</h2> -->
<input type="text" ng-model="list1.itemName" placeholder="itemName"> 
<input type="text"  ng-model="list1.itemQuantity" placeholder="quantity">
<button ng-click="list1.addItem();">Add item</button>

<shopping-list my-list="list1" title="{{list1.title}}"></shopping-list>
<!-- <shopping-list list="list1"></shopping-list> -->




<div ng-if="list1.errorMessage" class="error">Error:
	{{list.errorMessage}}<br/>
</div>
</div>

<!-- LIST #2 limited items -->
<div id="list2" ng-controller="ShoppingListController2 as list2">
<h2>Shopping List #2 (limited to 3 items)</h2>
<input type="text" ng-model="list2.itemName" placeholder="item name">
<input type="text"  ng-model="list2.itemQuantity" placeholder="quantity">
<button ng-click="list2.addItem();">Add item</button>
<ol>
<shopping-list my-list="list2"></shopping-list>
<!-- <shopping-list list="list1"></shopping-list> -->
</ol>
<div ng-if="list2.errorMessage" class="error" ><p style="color:red;">Error:
	{{list2.errorMessage}}<br/></p>
</div>

<!-- <div class="error">Error:{{list.errorMessage}}</div> -->
</div>

</body>
</html>